<div class="container-home">
    <div class="search">
        <form class="search-bar" action="/artist-search" method="GET">
            <input type="text" placeholder="Artist name" name="search">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>