<div class="container-results">
    <h1>Listen to the Albums Tracks</h1>
    <div class="tracks">
        <div class="headline">
            <h2>Title</h2>
            <h2 class="headline--margin">Listen</h2>
        </div>
    {{#each tracksArray }}
        <div class="track">
            <h3>{{this.name}}</h3>
            <div>
                <audio controls >
                <source src="{{this.preview_url}}" type="audio/mpeg">
                <source src="{{this.preview_url}}" type="audio/ogg">
                <p>
                    Your browser doesn't support HTML5 audio.
                    Here is a <a href="{{this.preview_url}}">link to download the audio</a> instead.
                </p>
                </audio>
            </div>
        </div>
    {{/each}}
    </div>
</div>