/* Globals */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* Typography */

h1 {
    color: #434343 ;
    font-size: 3.2rem;
}

h2 {
    color: white;
    font-size: 1.8rem;
}


/* Home Layout */
.container-home {
    background: url("/images/spotify-background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6rem 10rem;
    margin: auto;
}

.search-bar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around; 
}

.search-bar input {
    width: 30em;
    padding: 0.8rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.search-bar button {
    font-size: 1.8rem;
    background-color: tomato;
    color: white;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* Results Page Layout */

.container-results {
    min-height: 100vh;
    text-align: center;
    place-items: center;
    background-color: white;   
    margin: 5rem auto; 
}

.results {
    display:flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}

.results > .artist {
    flex: 1 1 20em;
}

.artist {
    text-align: center;
    margin: 3rem;
}

.artist > img {
    width: 100%;
    height: 70%;
    object-fit:cover;
}

.artist-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 1em 0.5em;
 
}

.name {
    color: white;
}

.button {
    margin: 0.6em;
    padding: 0.2em 0.8em;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 0.5rem;
    box-shadow:
     rgba(252, 146, 146, 0.09) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

a:hover, a:focus {
    background-color: #FA2600;
}   



